# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source files
*.m text eol=lf
*.h text eol=lf
*.c text eol=lf
*.sh text eol=lf

# Config files
*.plist text eol=lf
*.entitlements text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

# Git files
*.gitattributes text eol=lf
*.gitignore text eol=lf